body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(51, 90, 196);
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.box {
    font-size: 20px;
    color: white;
    height: 150px;
    width: 350px;
    border-radius: 15px;
    background-color: rgb(51, 90, 196);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

button {
    height: 30px;
    width: 110px;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 2px solid rgb(255, 255, 255);
    margin: 5px;
}